[submodule "Submodules/ImGui"]
	path = Submodules/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/glfw"]
	path = Submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Submodules/stb"]
	path = Submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "Submodules/PhysX"]
	path = Submodules/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
